<!DOCTYPE html>
<html >
<head>
	<title>coder-camps-js</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<h1>This is totally my index page!</h1>
	<div class="well form-inline">
		<input type="text" id="inputColor" class="form-control" placeholder="Color..." />
		<input type="text" id="inputMat" class="form-control" placeholder="Material..." />
		<label>Is Permanent</label>
		<select class="form-control" id="inputPerm">
			<option value="true" selected="true">Yes</option>
			<option value="false">No</option>
		</select>
		<span id="Button-Group">
			<button type="button" class="btn btn-success" onclick="addMarker()">Submit</button>
		</span>
	</div>
	<br />
	<div class="well">
		<ul id="markerResults"></ul>
	</div>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/javascript/app.js"></script>
</body>
</html>
